[Unit]
Description=Makes backup with borg
# %h means $HOME
[Service]
ExecStart=%h/scripts/backup/backup_borg.sh
RemainAfterExit=true
[Install]
WantedBy=default.target

