# Startup maintainer
[Unit]
Description=Captures the installed packages and dumps them into a directory

# %h means $HOME
[Service]
ExecStart=%h/scripts/startup-maintainer.sh
RemainAfterExit=true

[Install]
WantedBy=default.target
